label{
  color: #a9aeb3;
}

.container {
  margin-top: 2rem;
  min-height: 100vh;
  background-color: hwb(0 100% 0%);
}

.table {
  width: 100%;
}

.mat-column-indicatorID {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  padding-left: 16px;
  font-size: 16px;
}

.mat-column-description {
  padding-left: 16px;
  font-size: 16px;
}

.mat-column-goal, .mat-column-minimum, .mat-column-maximum {
  font-style: italic;
}
